{
  "project_info": {
    "project_number": "1234567890",
    "project_id": "your-firebase-project",
    "storage_bucket": "your-firebase-project.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1234567890:android:abcdef123456",
        "android_client_info": {
          "package_name": "com.example.superapp"
        }
      },
      "api_key": [
        {
          "current_key": "AIzaSy..."
        }
      ]
    }
  ],
  "configuration_version": "1"
}

